.main{
  padding: 0 25% 100px;
}

.image{
  width: 80%;
  max-width: 470px;
  border-radius: 10px;
  margin: 0 auto 35px;
}

.text{
  font-family: var(--mulish);
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  color: var(--dark-purple);
  max-width: 950px;
}

.talkLink{
  font-size: 18px;
  line-height: 23px;
  font-family: var(--mulish);
  padding: 10px 30px;
  color: white;
  background-color: var(--dark-purple);
  border-radius: 5px;
  transition: 300ms;
}

.talkLink:hover{
  filter: brightness(50%);
}
