.backLink{
  display: grid;
  grid-template-columns: 22px auto;
  grid-column-gap: 13px;
  align-items: center;
}

.backLinkImg{
  width: 100%;
}

.backLinkText{
  font-family: var(--oswald);
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: var(--dark-purple);
}

@media (max-width: 800px) {
  .backLink{
    grid-template-columns: 20px auto;
    grid-column-gap: 3px;
  }

  .backLinkText{
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
