.layout{
  padding-bottom: 92px;
}

.items{
  padding-bottom: 50px;
}

.item{
  display: grid;
  grid-template-columns: minmax(0, 0.65fr) 1fr;
  grid-column-gap: 20px;
  padding: 0 8.6% 100px;
}

.item + .item{
  padding-top: 100px;
  border-top: 1px solid rgba(106, 44, 112, 0.2);
}

.item:last-of-type{
  padding-bottom: 0;
}

.itemImages{
  display: grid;
  grid-row-gap: 50px;
}

.itemName{
  font-family: var(--oswald);
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  color: var(--dark-purple);
}

.itemDescription{
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #75317B;
}

.backLinkWrapper{
  padding-left: 8.6%;
}
