.layout{
  padding-bottom: 92px;
}

.items{
  padding-bottom: 50px;
  padding-left: 25%;
  padding-right: 25%;
  display: grid;
  grid-row-gap: 150px;
}

.item{
  display: grid;
  grid-row-gap: 25px;
}

.itemImages{
  display: grid;
  row-gap: 25px;
}

.itemName{
  font-family: var(--oswald);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4.4rem;
  color: var(--dark-purple);
}

.itemDescription{
  font-family: var(--mulish);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--purple-2);
}

.backLinkWrapper{
  padding-left: 8.6%;
}

@media (max-width: 800px) {
  .layout{
    padding-bottom: 30px;
  }

  .items{
    padding-left: 8.6%;
    padding-right: 8.6%;
    grid-row-gap: 58px;
  }

  .itemName{
    font-size: 2.2rem;
    line-height: 3.3rem;
  }

  .itemDescription{
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
