.cards {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 150px;
  width: 100%;
  padding: 0 22.85%;
}

.cardsSmallMargin {
  margin-bottom: 50px;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
  width: 100%;
}

.item {
  width: 100%;
}

.textWidth {
  padding: 0 22.85%;
}

.fullWidth {
  padding: 0 12%;
}

.gifImage {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 800px) {
  .cards,
  .fullWidth,
  .textWidth {
    padding: 0 8.6%;
  }

  .cards{
    margin-bottom: 50px;
  }

  .itemsWrapper{
    row-gap: 50px;
  }

  .itemCarousel{
    margin-bottom: 0;
  }
}
