.section{
  padding: 0 8.6% 75px;
}

.section + .section{
  padding-top: 75px;
}

.sectionTitle{
  font-family: var(--oswald);
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4.4rem;
  display: flex;
  align-items: center;
  color: var(--dark-purple);
  margin-bottom: 25px;
}

.sectionCards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 55px;
}

.sectionCarousel{
  display: none;
}

@media (max-width: 800px) {
  .sectionTitle{
    font-size: 2.2rem;
    line-height: 3.3rem;
  }

  .sectionCards{
    display: none;
  }

  .sectionCarousel{
    display: block;
  }

  .section + .section{
    padding-top: 0;
  }
}
