@import "fonts.css";

:root{
  --purple: #C09BD8;
  --pink: #f3dbea;
  --dark-purple: #6A2C70;
  --gray: #C09BD8;
  --purple-2: #75317B;

  --oswald: "Oswald", 'Helvetica';
  --roboto: "Roboto", 'Helvetica';
  --mulish: "Mulish", 'Helvetica';
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

html { font-size: 10px; } /* Essentially 10px */

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem; /* Essentially 16px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1600px) {
  html{
    font-size: 13px;
  }
}

@media (min-width: 2000px) {
  html{
    font-size: 19px;
  }
}
