.layout{
  min-height: 100vh;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/background.png");
}

.layoutPageHeight{
  height: 100vh;
}

.main{
  padding: 0 8.6%;
  flex-grow: 1;
}
