.card{
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  text-decoration: unset;
}

.cardImage{
  border-radius: 5px;
  height: 214px;
}

.cardImageHeightUnset{
  height: unset;
}

.cardImageNoRadius{
  border-radius: 0;
}

.cardTitle{
  font-family: var(--oswald);
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: var(--dark-purple);
  margin-top: 18px;
}
