.card{
  padding: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  text-decoration: unset;
  display: block;
}

.cardImage{
  border-radius: 5px;
  height: 214px;
}

.cardImageHeightUnset{
  height: unset;
}

.cardImageNoRadius{
  border-radius: 0;
}

.cardTitle{
  font-family: var(--oswald);
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 3.9rem;
  display: flex;
  align-items: center;
  color: var(--dark-purple);
  margin-top: 18px;
}
