.main {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 100px;
  align-items: center;
}

.intro {
  font-family: var(--oswald);
  color: var(--dark-purple);
  font-size: 60px;
  line-height: 90px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.introLink {
  font-weight: 500;
  text-decoration: underline;
}

.imageContainer:hover .image {
  transform: translateX(10px) translateY(10px);
}

.imageBg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(192, 155, 216, 0.3);
  border-radius: 10px 0 0 0;
  width: 400px;
  height: 100%;
}

.image {
  transform: translateX(17px) translateY(17px);
  transition: 300ms;
  border-radius: 10px 0 0 0;
  width: 400px;
}
