.main {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 100px;
  align-items: center;
  padding: 0 8.6%;
}

.intro {
  font-family: var(--oswald);
  color: var(--dark-purple);
  font-size: 5rem;
  line-height: 7.4rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  max-width: 55rem;
}

.introLink {
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 8.2rem;
  position: relative;
  font-family: var(--oswald);
}

.introLinkLine{
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 5px;
  background: var(--dark-purple);
  display: inline-flex;
}

.imageContainer{
  position: relative;
  height: 420px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  max-height: 80%;
}

.imageBg {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(192, 155, 216, 0.3);
  border-radius: 10px 0 0 0;
  width: 360px;
  height: 100%;
}

.imageWrapper{
  overflow: hidden;
}

.image {
  transition: 300ms;
  border-radius: 10px 0 0 0;
  width: 360px;
}

@media (min-width: 1600px) {
  .imageContainer{
    height: 400px;
  }

  .image,
  .imageBg{
    width: 400px;
  }
}

@media (min-width: 2000px) {
  .imageContainer{
    height: 550px;
  }

  .image,
  .imageBg{
    width: 550px;
  }
}
