.main {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-column-gap: 100px;
  align-items: center;
  padding: 0 8.6%;
}

.intro {
  font-family: var(--oswald);
  color: var(--dark-purple);
  font-size: 50px;
  line-height: 74px;
  font-weight: 400;
  letter-spacing: 0.3px;
  max-width: 550px;
}

.introLink {
  font-weight: 500;
  font-size: 55px;
  line-height: 82px;
  position: relative;
  font-family: var(--oswald);
}

.introLinkLine{
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 5px;
  background: white;
  display: inline-flex;
}

.imageContainer{
  position: relative;
  height: 420px;
  display: flex;
  align-items: flex-start;
}

.imageBg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(192, 155, 216, 0.3);
  border-radius: 10px 0 0 0;
  width: 360px;
  height: 100%;
}

.imageWrapper{
  overflow: hidden;
}

.image {
  transition: 300ms;
  border-radius: 10px 0 0 0;
  width: 360px;
}
