.header{
  display: flex;
  height: 80px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 8.6%;
  background-color: transparent;
}

.navLinks{
  display: inline-flex;
}

.navLogo{
  min-width: 12rem;
}

.navLink, .navDropdownButton{
  font-family: var(--oswald);
  font-size: 2rem;
  line-height: 3rem;
  color: var(--dark-purple);
  position: relative;
}

.navLink:hover,
.navDropdownButton:hover,
.navLinkActive{
  text-decoration: underline;
}

.navLink + .navLink{
  margin-left: 60px;
}

.navDropdownButton{
  background-color: transparent;
  border: none;
}

.navDropdownItems{
  position: absolute;
  top: calc(100% + 10px);
  left: -20px;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 1px rgba(3, 3, 3, 0.17);
  z-index: 10;
}

.navDropdownItem{
  font-family: var(--oswald);
  font-size: 2rem;
  color: var(--dark-purple);
  padding: 9px 21px;
}

.navDropdownItem:first-of-type{
  border-bottom: 1px solid var(--gray);
}

.navToggle{
  display: none;
  background-color: transparent;
  border: none;
}

.sideNav{
  padding: 30px 45px;
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #ebc3db;
  z-index: 100;
  width: 100%;
}

.sideNavTop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.sideNavLinks{
  display: grid;
  grid-row-gap: 16px;
}

.sideNavLinks .navLink{
  margin-bottom: 16px;
  margin-left: 0;
  width: fit-content;
}

.sideNavLinks .navDropdownButton{
  margin-bottom: 16px;
}

.sideNavDropdownItems{
  display: flex;
  flex-direction: column;
}

.sideNavDropdownItems .navDropdownItem{
  border: none;
  width: fit-content;
}

@media (max-width: 800px) {
  .header{
    padding-top: 30px;
    height: unset;
    align-items: center;
  }

  .navLogo{
    width: 12rem;
  }

  .navLink{
    display: none;
  }

  .navToggle{
    display: block;
    margin-left: auto;
  }

  .sideNav{
    display: flex;
  }

  .sideNavLinks .navLink{
    display: block;
    margin-left: 0;
  }
}
