.carousel{
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 48px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 75px;
  padding: 0 10%;
}


.item{
  flex-grow: 1;
  display: inline-flex;
  justify-content: center;
}

.carouselButton{
  display: flex;
  width: 44px;
  height: 44px;
  background: var(--dark-purple);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  top: calc(50% - 22px);
  outline: none;
}
