.footer{
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8.6%;
  background-color: var(--purple);
}

.footerCenter{
  justify-content: center;
}

.footerLink{
  width: 25px;
  display: inline-flex;
}

.footerLink + .footerLink{
  margin-left: 26px;
}

@media (max-width: 800px) {
  .footer{
    justify-content: center;
  }
}
